.form-header {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
.form-header-pp {
  height: 45px;
  width: 45px;
  border: 1px solid rgb(66, 64, 64);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-left: 10px;
}
.form-header-pp > img {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
}
.form-header-details {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: flex-start;
  margin-left: 10px;
  flex-direction: column;
}
.form-header-details > h4,
p {
  margin: 2px;
}
