.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  height: 600px;
  width: 400px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 2px rgb(70, 68, 68);
  background-color: blanchedalmond;
}
.form-content {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 250px;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
